## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[91, 38, 28, 24, 66, 65, 42, 26, 70, 79, 76, 83, 73, 74, 93, 62, 82, 22, 95, 21, 54, 80, 20, 9, 13, 97, 61, 55, 1, 50, 45, 98, 18, 15, 67, 12, 25, 57, 99, 90, 69, 0, 10, 3, 44, 89, 6, 88, 94, 87, 63, 68, 17, 81, 47, 32, 71, 59, 29, 64, 75, 39, 40, 4, 53, 33, 37, 19, 27, 60, 8, 78, 34, 41, 86, 77, 84, 58, 14, 96]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
if len(set1) == 80:
    print ("The length is still 80")
else:
    print("The length has changed:", len(set1))

The length is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.sample(range(100),1)[0])
print(sample_list_2)

[13, 3, 52, 44, 58, 53, 85, 70, 13, 44, 49, 20, 31, 15, 91, 48, 69, 71, 40, 68, 74, 25, 43, 88, 61, 26, 94, 41, 49, 79, 20, 13, 72, 86, 31, 6, 58, 82, 85, 82, 5, 96, 79, 52, 28, 39, 80, 58, 40, 89, 9, 75, 20, 1, 24, 52, 39, 67, 5, 43, 63, 15, 69, 34, 53, 72, 22, 82, 11, 88, 83, 19, 6, 58, 34, 40, 31, 62, 58, 40]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
if len(set2) == 80:
    print ("The length is still 80")
else:
    print("The length has changed:", len(set2))

The length has changed: 49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(set3)

{0, 4, 8, 10, 12, 14, 17, 18, 21, 27, 29, 32, 33, 37, 38, 42, 45, 47, 50, 54, 55, 57, 59, 60, 64, 65, 66, 73, 76, 77, 78, 81, 84, 87, 90, 93, 95, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print(set4)

{5, 72, 43, 11, 48, 49, 52, 85, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 3, 6, 9, 13, 15, 19, 20, 22, 24, 25, 26, 28, 34, 39, 40, 41, 44, 53, 58, 61, 62, 63, 67, 68, 69, 70, 71, 74, 75, 79, 80, 82, 83, 86, 88, 89, 91, 94, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

# This will always be the largest #, because random.sample only generates unique values
print("Length of set1:", len(set1))

# Because we generate truly random values, duplicates are NOT added to the set, so this will always be <= set1
print("Length of set2:", len(set2))

# This value is larger than len(set4)
print("Length of set3:", len(set3))

# This value is smaller than len(set3)
print("Length of set4:", len(set4))

# This value is larger than len(set3) and len(set4)
print("Length of set5:", len(set5))

Length of set1: 80
Length of set2: 49
Length of set3: 40
Length of set4: 9
Length of set5: 40

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 3, 4, 6, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 32, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 47, 50, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
print("Does set1 equal set6?")
if set1 == set6:
    print(True)
else:
    print(False)

Does set1 equal set6?
True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print("Does set1 contain set2?")
if set2.issubset(set1):
    print(True)
else:
    print(False)
    
print("Does set1 contain set3?")
if set3.issubset(set1):
    print(True)
else:
    print(False)

Does set1 contain set2?
False
Does set1 contain set3?
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
uSet1 = set3.union(set4).union(set5)
#print(uSet1)
uSet2 = set1.union(set2)
#print(uSet2)
if uSet1 == uSet2:
    print("They are equal")

They are equal

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 1, 3, 4, 6, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 32, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 47, 50, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}
{1, 3, 4, 6, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 32, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 47, 50, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
tmpSet = set()
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in set1:
    if i not in list_to_remove:
        tmpSet.add(i)
print(tmpSet)

{3, 4, 6, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 24, 25, 26, 27, 28, 32, 33, 34, 37, 38, 40, 42, 44, 45, 47, 50, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}